<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>

<section role="container-list" class="container">
	<article role="profile-header" class="big-card">
		<aside role="profile-pic" class="image">
			<img src="<%= data.profile.pic %>">
		</aside>
		<main role="profile-info" class="content text-center">
			<header role="profile-name"><%= data.profile.name %></header>
			<p class="lead"><%- data.profile.lead %></p>
			<footer role="links">
				<% data.profile.links.forEach(function(a) { %>
				<a href="<%= a.link %>" class="lead"><i class="fa <%= 'fa-' + a.icon %>"></i></a>
				<% }); %>
			</footer>
		</main>
	</article>

	<% data.cards.forEach(function(w) { %>
	<article role="work" class="card">
		<aside role="company-logo" class="image">
			<img src="<%= w.logo %>">
		</aside>
		<main role="work-info" class="content">
			<header role="company-name">
				<span><%= w.name %></span> <span class="right"> <%= w.from %> → <%= w.to %></span>
			</header>
			<p class="lead"><%- w.lead %></p>
			<% if(w.refs) { %>
			<ul role="reference-links" class="unstyled">
				<% w.refs.forEach(function (r) { %>
				<li><a href="<%= r.link %>" target="_blank"><%= r.title %></a></li>
				<% }); %>
			</ul>
			<% } %>
		</main>
	</article>
	<% }); %>
</section>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</body>
</html>
